-# .footer
-#   .right-footer
-#     = link_to "", class: "footer-contents" do
-#       利用規約
-#     = link_to "", class: "footer-contents" do
-#       The owner
-#     = link_to "", class: "footer-contents" do
-#       twitter
-#     = link_to "", class: "footer-contents" do
-#       facebook