*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html, body {
  margin: 0;
  padding: 0;
}

.wrapper{
  background-color: #fafafa;
  padding: 15px 0;
}

.main-contents{
  width: 1000px;
  margin: 0 auto;
  display: flex;
}