$header-line-height: 60px;
$header-right-margin: 0 10px;
$header-color: black;
$font-color:#FFFFFF;

.header{
  position: relative;
  height: 60px;
  border-bottom: solid 1px #eee;
  color: $header-color;

  .header-box{
    padding: 0 15%;

    .left-header{
      float:left;
      display: flex;
      line-height: $header-line-height;

      .logo{
        margin-right: 30px; 
        font-size: 150%;
        font-weight: bold;

        .top-page{
          color: $header-color;
          text-decoration: none;
        }
      }
      .search-field{
        font-size: 75%;
        margin: 0 20px;

        .search-box{
          position: relative;

          .input-text{
            height: 27px;
            width: 210px;
            margin-right: 10px;
            padding: 0 25px 0 5px;
            outline: none;
            border:solid 1px gray;
            border-radius: 5px;
          
          }

          .btn-search{
            position: absolute;
            top: 23px;
            right: 15px;
            border: none;
            outline: none;
            cursor: pointer;

            .search-form__icon{
            }
          }

          .qiita-check-box{
            margin-left: 5px;
          }

          .qiita-check{
            font-size: 11px;
          }
        }
      }
    }

    .right-header{
      float: right;
      display: flex;
      font-size: 90%;
      line-height: $header-line-height;
      

      .like-list{
        margin: $header-right-margin;

        .like-list-icon{
          font-size: 19px;
          color: black;
          text-decoration: none;
          transition: .2s;

          &:hover{
            font-size: 25px;
            font-weight: bold;
          }
        }  
      }
      .top-menu{
        position: relative;
        margin: $header-right-margin;
        z-index: 6;
        transition: .2s;
        cursor: pointer;

        &:hover{
          font-size: 17px;
          // font-weight: bold;
        }

        &__select-btn{}

        .left-menu{
          position: absolute;
          position: fixed;
          display: none;
          width: 160px;
          background-color: black;
          font-size: 12px;
          color: #FFFFFF;
          line-height: 20px;
          z-index: 10;
        
          .left-searchlist{
            // margin: 15px 0;
            
            p{
              cursor: pointer;
              padding: 5px 10px;
            }
        
            &__item{
              // border-bottom: solid 1px gray;
              // transition: .2s;
              // padding: 0 10px;
              cursor: pointer;
              
              &:hover{
                background-color: peru;
                font-weight: bold;
              }
            }
            &__menu{
              display: none;
              padding: 0 10px;
        
              li{
                padding: 5px 0;
                cursor: pointer;
        
                &:hover{
                  border-bottom: solid 1.5px gray;
                  font-weight: bold;
                }
              }
        
            }
          }
        }

      }

      .signout{
        margin: $header-right-margin;

        .signout-btn{
          color: $header-color;
          text-decoration: none;
          transition: .2s;

          &:hover{
            font-size: 17px;
            // font-weight: bold;
          }
        }
      }
      .mypage{
        margin: $header-right-margin;

        .user-icon{
          font-size: 19px;
          color: black;
          text-decoration: none;
          transition: .2s;

          &:hover{
            font-size: 25px;
            font-weight: bold;
          }

        }
      }
      .users-list{
        margin: $header-right-margin;

        .users-icon{
          font-size: 19px;
          color: black;
          text-decoration: none;

        }
      }

      .login{
        margin: $header-right-margin;

        .login-btn{
          color: black;
          text-decoration: none;
          transition: .2s;

          &:hover{
            font-size: 17px;
            // font-weight: bold;
          }
        }
      }
      .new-account{
        margin: $header-right-margin;

        .new-account-btn{
          color: black;
          text-decoration: none;
          transition: .2s;

          &:hover{
            font-size: 17px;
            // font-weight: bold;
          }
        }
      }

    }
  }
}