$header-line-height: 60px;
$header-right-margin: 0 10px;
$header-color: black;
$font-color:#FFFFFF;

.header{
  position: relative;
  height: 60px;
  border-bottom: solid 1px #eee;
  color: $header-color;

  .header-box{
    padding: 0 15%;

    .left-header{
      float:left;
      display: flex;
      line-height: $header-line-height;

      .logo{
        margin-right: 30px; 
        font-size: 150%;
        font-weight: bold;

        .top-page{
          color: $header-color;
          text-decoration: none;
        }
      }
      .search-field{
        font-size: 75%;
        margin: 0 30px;

        .search-box{
          height: 45%;
          width: 190px;
          margin-right: 15px;
          outline: none;
          border:solid 1px gray;
          border-radius: 5px;
        }

        .qiita-check{
          font-size: 11px;
        }
      }
    }

    .right-header{
      float: right;
      display: flex;
      font-size: 90%;
      line-height: $header-line-height;
      

      .like-list{
        margin: $header-right-margin;

        .like-list-icon{
          font-size: 17px;
          color: black;
          text-decoration: none;
        }  
      }
      .top-menu{
        position: relative;
        margin: $header-right-margin;
        z-index: 6;
        cursor: pointer;

        &__select-list{
          position: absolute;
          bottom: -55px;
          display: none;
          width: 210px;
          z-index: 3;
  
          ul{
            li{
              line-height: 30px;
              background: rgba(1,1,1,0.8);
              margin-bottom: 3px;
              padding-left: 10px;
  
              .select-btn{
                font-size: 12px;
                color: #FFFFFF;
                text-decoration: none;
              }
            }
          }
        }

      }

      .signout{
        margin: $header-right-margin;

        .signout-btn{
          color: $header-color;
          text-decoration: none;
        }
      }
      .mypage{
        margin: $header-right-margin;

        .user-icon{
          font-size: 19px;
          color: black;
          text-decoration: none;

        }
      }
      .users-list{
        margin: $header-right-margin;

        .users-icon{
          font-size: 19px;
          color: black;
          text-decoration: none;

        }
      }

      .login{
        margin: $header-right-margin;

        .login-btn{
          color: black;
          text-decoration: none;
        }
      }
      .new-account{
        margin: $header-right-margin;
        .new-account-btn{
          color: black;
          text-decoration: none;
        }
      }

    }
  }
  // .main-menu-side{
  //   position: fixed;
  //   top: 125px;
  //   left: 3.5%;
  //   display: flex;
  //   display: none;
  //   flex-direction: column;
  //   z-index: 2;
  //   min-height: 180px;
  //   width: 200px;
  //   padding: 0 20px;
  //   border: solid 1px #eee;
  //   border-radius: 5px ;
  //   background: rgba(1, 1, 1, 0.8);
  //   color: $font-color;

  //     a{
  //       text-decoration: none;
  //       color: $font-color;
  //     }

  //     .groups{
  //       &__menu-close-btn{
  //         margin: 7px 0;
  //         text-align: right;
  //         cursor: pointer;
  //       }

  //       &__box-menu{
  //         margin-bottom: 8px;
  //         font-size: 13px;

  //         &:hover {
  //           border-bottom: solid 1px #FFFFFF;
  //         }
  //       }

  //       &__search-title{
  //         margin-bottom: 8px;
  //         font-size: 13px;
  //         cursor: pointer;

  //         &:hover {
  //           border-bottom: solid 1px #FFFFFF;
  //         }
            
  //       }

  //       .group{
  //         display: none;
  //         margin-bottom: 8px;
  //         color:$font-color;
  //         font-size: 12px;
  //         // border-bottom: solid 1px #FFFFFF;

  //         &__group-name{
  //           font-size: 11px;
  //           // margin: 0 0 8px 5px;
  //         }

  //         &__latest-post{
  //           font-size: 11px;
  //         }
  //       }

  //       .top-index{
  //         margin-bottom: 15px;
  //         font-size: 13px;

  //         &:hover {
  //           border-bottom: solid 1px #FFFFFF;
  //         }
        
  //       }
  //     }
  // }
}