.show-contents{
  display: flex;
  height: 100%;
  min-height: 100vh;

  &__items{
    width: calc(100vw - 400px);
    margin: 0 35px 10px;

    &__image{
      height: 550px;
      width: 100%;
      margin-bottom: 15px;

      .show-image{
      height: 100%;
      width: 100%;
      object-fit: cover;

        &:focus{
          outline: none;
        }
      }
    }
    &__detail{

      &__upper-info{
        margin: 10px 10px 0;

        &__top{
          display: flex;
          justify-content: space-between;
          padding-bottom: 10px;
          border-bottom: solid 1px #eee;

            &__box{

            &__title{
              margin-bottom: 5px;
              font-weight: bold;
            }
            &__github{
              margin-bottom: 5px;
              padding: 0 9px;
              font-size: 12px;
              font-weight: bold;

            }

            &__more-detail{
              padding: 0 9px;

              &__contributor{
                font-size: 9px;
                color: gray;

                &__name{}
                &__date{}

                &__tags{
                  display: flex;
                  margin-top: 7px;

                  &__tag{
                    font-size: 13px;
                    font-weight: bold;
                    line-height: 26px;
                    position: relative;
                    display: inline-block;
                    height: 26px;
                    margin: 0 10px 10px 0;
                    padding: 0 20px 0 23px;
                    -webkit-transition: color 0.2s;
                            transition: color 0.2s;
                    text-decoration: none;
                    color: #455a64;
                    border-radius: 3px 0 0 3px;
                    background: #cfd8dc;

                    &:before, &:after {
                      background: #fafcfc;/*背景色*/
                    }

                    &:before {
                      position: absolute;
                      top: 10px;
                      left: 10px;
                      width: 6px;
                      height: 6px;
                      content: '';
                      border-radius: 10px;
                    }

                    &:after {
                      position: absolute;
                      top: -2px;
                      right: -6px;
                      width: 0;
                      height: 0;
                      content: '';
                      border-width: 15px 0 15px 8px;
                      border-style: solid;
                      border-color: transparent transparent transparent #cfd8dc;
                      border-radius: 4px;
                    }

                  }
                }
                
              }

            }
          }

          &__like-info{
            font-size: 10px;

            .liked-icon{
              font-size: 15px;
              color: rgb(255, 20, 90);
              text-decoration: none;
            }

            .like-icon{
              font-size: 15px;
              color: black;
              text-decoration: none;
            }
          }
        }

        &__content{
          padding: 10px 0;
          font-size: 13px;

          &__item{
            font-weight: bold;
          }
          &__text{
            padding: 0 9px;
          }
        }
      }

      &__code{
        margin: 0 10px 10px;
        padding-top: 10px;
        border-top: solid 1px #eee;

        &__item{
          font-size: 14px;
          font-weight: bold;
        }
        &__info{
          padding: 9px;
          border-radius: 5px;
          background-color: #FFFFFF;
          font-size: 13px;
        }
      }
    }
  }
  &__comments{
    width: 420px;
    margin-right: 35px;
    background-color: #FFFFFF;
    border: solid 1px #eee;

    .comment-form{
      margin: 5px 10px;
      border-bottom: solid 1px #eee;
      // width: 100%;

      // #chat-box__text {
      //   font-size: 12px;
      //   width: 100%;
      //   padding: 0 8px;
      //   line-height: 10px;
      // }

      .comment-form__input-box{
        display: flex;

        &__text-box{
          width: 80%;

          .chat-box__text{
            width: 100%;
            border: 0;
            outline: none;
            resize: none;
            font-size: 12px;
          }
        }
        &__submit-box{
          display: flex;
          -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
          align-items: center; /* 縦方向中央揃え */
          -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
          justify-content: center; /* 横方向中央揃え */
          width: 20%;

          .chat-box__submit{
            padding: 5px;
            border: 0;
            font-size: 12px;
            font-weight: bold;
            color: black;
            outline: none;
            cursor: pointer;

            &:hover{
              color: rgb(255, 81, 0);

            }
            
          }
        }
      }

    }

    .comment-views{
      margin: 10px 10px;

      &__detail-view{
        width: 94%;
        margin: 0 10px 10px auto;
        font-size: 11px;

          &__comment{
            display: flex;

            &__text{
              position: relative;
              max-width: 60%;
              padding: 5px 10px;
              border: solid 2px rgb(88, 223, 88);
              border-radius: 15px;
              background-color: rgb(88, 223, 88);

              &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: -14px;
                margin-top: -2px;
                border: 2px solid transparent;
                border-right: 12px solid rgb(88, 223, 88);
                z-index: 2;
              }
              
              &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: -20px;
                margin-top: -4px;
                border: 4px solid transparent;
                border-right: 14px solid rgb(88, 223, 88);
                z-index: 1;
              }
            }

            &__user-date{
              margin-left: 6px;
              font-size: 10px;
              color: gray;

              &__user{
                // margin: 0 5px 0 auto ;
              }

              &__date{
                // margin-right: 0 5px 0 auto ;
              }

              &__date-time{
                // margin-right: 0 5px 0 auto ;
              }
          }
        }
      }


      &__detail-view-right{
        width: 94%;
        margin: 0 10px 10px auto;
        font-size: 11px;

          &__comment{
            display: flex;

            &__text{
              position: relative;
              // margin: 0 0 0 auto;
              max-width: 60%;
              padding: 5px 10px;
              border: solid 2px #eee;
              border-radius: 15px;

              &:before {
                content: "";
                position: absolute;
                top: 50%;
                right: -14px;
                margin-top: -2px;
                border: 2px solid transparent;
                border-left: 12px solid #FFF;
                z-index: 2;
              }
              
              &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: -20px;
                margin-top: -4px;
                border: 4px solid transparent;
                border-left: 14px solid #eee;
                z-index: 1;
              }
            }

            &__user-date{
              margin: 0 6px 0 auto ;
              font-size: 10px;
              color: gray;

              &__user{
                // margin: 0 5px 0 auto ;
              }

              &__date{
                // margin-right: 0 5px 0 auto ;
              }

              &__date-time{
                // margin-right: 0 5px 0 auto ;
              }
          }
        }
      }

      
    }

  }
}

