.top-image{
  position: relative;

  &__file{
    height: 400px;
    width: 100%;
    object-fit: cover;
  }

  .top-image-cover{
    position: absolute;
    top: 50%;
    left: 0;
    transform : translateY(-50%);
    content: "";
    padding: 1% 0 1% 8%;
    height: 100%;
    width: 100%;
    // color: #FFFFFF;
    // font-size: 125%;
    // // font-weight: bold;
    background: -webkit-linear-gradient(left, rgba(1, 1, 1, 0.5) 20%, black 100%);
  }

  .top-image-text{
    position: absolute;
    top: 50%;
    left: 0;
    transform : translateY(-50%);
    content: "";
    padding: 1% 3% 1% 8%;
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    text-align: right;
    font-size: 25px;
    display: flex;
    // justify-content: center;
    align-items: center;
    // // font-weight: bold;
    // background: -webkit-linear-gradient(left, rgba(1, 1, 1, 0) 50%, black 90%);
  }
}

.posts{
  width: 650px;
  margin: 0 auto;

  .posts-title{
    margin: 16px 0 10px;
  }

  .posts-contents{
    display: flex;
    flex-wrap:wrap;
    height: 100%;
    min-height: 100vh;
    overflow: scroll;
    // padding: 46px 40px;

    .post{
      height: 350px;
      width: 300px;
      overflow: hidden;
      margin:0 25px 25px 0;
      border: solid 1px #eee;
      border-radius: 5px ;
      background-color: #FFFFFF;

      .post__box{
          height: 100%;
      

        &__upper-info{
          display: flex;
          justify-content: space-between;
          margin: 5px 10px;
          font-size: 10px;
        

          &__user{
            // font-weight: bold;
          }
          &__icon{
            right: 0;
          }
        }

        &__main-info{
          // height: 500px;
          font-size: 15px;
        

          &__image{
            height: 230px;
            width: 100%;
            object-fit: cover;

            .index-image{
              &:focus{
                outline: none;

              }
            }
          }
        }

        &__middle-info{
          display: flex;
          justify-content: space-between;
          margin: 5px 15px;
          font-size: 14px;
          color: black;
          // text-align: right;
          text-decoration: none;

          &__right{
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
            align-items: center; /* 縦方向中央揃え */
            -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
            justify-content: center; /* 横方向中央揃え */
            font-size: 10px;
          }

          &__left{
            display: flex;

            .index2comment{
              color: black;
              text-decoration: none;
            }

            .comment-icon{
              margin: 0 5px;
              font-size: 15px;
            }
            

            .liked-icon{
              margin: 0 3px;
              font-size: 15px;
              color: rgb(255, 20, 90);
              text-decoration: none;
            }

            .like-icon{
              margin: 0 3px;
              font-size: 15px;
              color: black;
              text-decoration: none;
            }
          }
          
        }

        &__lower-info{
          margin: 0 20px;


            &__title{
              margin-bottom: 5px;
              font-size: 10px;
              font-weight: bold;

            }

          &__code{
            display: flex;
            justify-content: space-between;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // margin: 2.5px 0;
            font-size: 10px;

            &__date{
              color: #999999;
            }

            &__detail{
              // text-align: right;
              cursor: pointer;

              .code-btn{
                color: black;
                text-decoration: none;

                &:hover {
                  padding: 5px;
                  border-radius: 2px;
                  background-color: black;
                  color: #FFFFFF;
                }
              }

            }
          }
        }

        &__comment-input{
          border-top: solid 1px #eee;

          &__box{
            width: 100%;
            border: 0;
            padding: 10px 15px;
            outline: none;
            font-size: 13px;
          }
        }
      }
    }
  }
}